@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  @apply p-0 m-0;
}

body {
  line-height: 20px;
}
.dark-mode {
  background-color: #0f1724;
  color: white;
  font-family: sans-serif;
}
.light-mode {
  background-color: white;
  color: rgb(88, 87, 87);
}

.circular-border-image {
  display: block;

  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* Dark Mode Intro Section */
.light-mode-HeadColor {
  color: #da918a;
}
.icon {
  color: white;
}
h1 {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(136, 100, 202, 1) 0%,
    rgba(93, 209, 226, 1) 100%,
    rgba(45, 109, 122, 1) 100%
  );
}
.border-gradient {
  border: 1px solid rgba(5, 122, 239, 0.323);
}
.image-container,
.circle-fill {
  display: inline-block;
  padding: 5px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(93, 5, 255, 1) 0%,
    rgba(93, 21, 253, 1) 8%,
    rgba(93, 209, 226, 1) 100%,
    rgba(45, 109, 122, 1) 100%
  );
}
.image-container:hover {
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(93, 5, 255, 1) 0%,
    rgba(93, 21, 253, 1) 8%,
    rgba(93, 209, 226, 1) 100%,
    rgba(45, 109, 122, 1) 100%
    
   
  );
}

/* Light Mode Intro Section */
.light-heading {
  color: #da918a;
}

.light-border-gradient {
  border: 1px solid #da918a;
  border-radius: 50%;
}

.light-image-container,
.light-circle-fill {
  display: inline-block;
  padding: 5px;
  background-color: #da918a;
}
.dark-active-button {
  border: 2px solid rgb(0, 202, 243); /* Example style: green border */
}
.light-active-button {
  border: 2px solid #da918a;
}

footer{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* 
Responsive Intro Section */
@media (max-width: 500px) {
  .hero-section {
    flex-wrap: wrap;
    margin: 0 10px;
    flex-direction: column-reverse;
    padding: 0;
    gap: 30px;
  }
  .intro-section {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .intro-section h1,
  .about-section-main h1,
  .skill-section h1,
  .project-section > h1,
  .contact-section h1 {
    font-size: 30px;
  }
  .contact-section{
    margin: 5px 10px;
  }
 
  .intro-section h1 + p {
    font-size: 30px;
  }
  .My-image {
    width: 250px;
    height: 250px;
  }
  .first-circle-fill {
    width: 270px;
    height: 270px;
  }
  .second-circle-border {
    display: none;
  }
  .circle-fill,
  .light-circle-fill {
    display: none;
  }
  .About-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-content {
    align-items: center;
    justify-content: center;
  }
  .about-btn {
    gap: 3px;
  }
  .about-para {
    width: 300px;
  }
  .A-Project-main {
    flex-direction: column;
    margin-left: -30px;
  }
  .A-Project-main img {
    width: 300px;
  }
  .projects-container {
    width: 310px;
    gap: 0;
  }
  .project-section {
    margin-top: 100px;
    margin: 0;
    padding: 0;
  }
  .contact-main {
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    
  }
  .my-img {
   
   width: 200px;
   height: 290px;
  }
  .send-btn{
    margin-bottom: 30px;
  }
  .contact-section {
    margin-top: 100px;
  }
  .contact-main {
    padding: 0px;
  }
  .about-content button {
    width: 100px;
  }
  .contact-form input,
  .contact-form textarea {
    width: 250px;
  }
  .contact-form {
    width: 300px;
  }
  .contact-form-container {
    width: 300px;
    padding: 0 0;
  }
  .contact-section {
    justify-content: center;
    align-items: center;
  }
  .right-social-icons {
    margin-top: -50px;
  }
  footer{
    margin-top: 40px;
    
  }
}
@media (max-width: 800px) and (min-width: 500px) {
  .circle-fill,
  .light-circle-fill {
    top: -250px;
    left: 100px;
  }
  .second-circle-border {
    left: 300px;
  }
  .profile-div {
    margin-left: 150px;
    margin-top: -50px;
  }

  .About-section {
    margin-left: -30px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 300px;
  }
  .projects-container {
    gap: 0;
    align-items: center;
    justify-content: center;
  }
  .A-Project-main {
    flex-direction: column;
  }
  .contact-main {
    flex-direction: column;
  }
}

/* index.css */
.active {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.dark-mode .active {
  border-bottom-color: #fff;
}

/* Animations */
.profile-div:hover .circle-1 , .profile-div:hover  {
  animation-play-state: running;
}
.circle-1 {
  width: 100px;
  height: 100px;
 
  border-radius: 50%;
  animation: grow 6s infinite;
  animation-play-state: paused;
}
@keyframes grow {
  0% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 150px;
    height: 150px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

nav a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

nav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5px; /* Make it thinner */
  bottom: 0;
  left: 50%;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(93, 5, 255, 1) 0%,
    rgba(93, 21, 253, 1) 8%,
    rgba(93, 209, 226, 1) 100%,
    rgba(45, 109, 122, 1) 100%
  ); /* Gradient color for dark mode */
  background-size: 200% 100%;
  transition: width 0.5s ease-out, left 0.5s ease-out, background-position 0.5s ease-out;
}

nav a.light::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5px; /* Make it thinner */
  bottom: 0;
  left: 50%;
  background: linear-gradient(to right, #da918a, #f9f0f0); /* Gradient color for light mode */
  background-size: 200% 100%;
  transition: width 0.5s ease-out, left 0.5s ease-out, background-position 0.5s ease-out;
}

nav a:hover::before,
nav a.active-link::before {
  width: 150%; /* Extend the width */
  left: -25%;
  background-position: 100% 0;
}

/* No line for social icons */
nav a.social-icon::before {
  content: none;
}
@keyframes slideFadeInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFadeOutToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideFadeInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFadeOutToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-fade-in-right {
  animation: slideFadeInFromRight 1s forwards;
}

.slide-fade-out-left {
  animation: slideFadeOutToLeft 1s forwards;
}

.slide-fade-in-left {
  animation: slideFadeInFromLeft 1s forwards;
}

.slide-fade-out-right {
  animation: slideFadeOutToRight 1s forwards;
}


@keyframes appear {
  from {
    opacity: 0.5;
    transform: translateY(100px); /* Start from below */
  }
  to {
    opacity: 1;
    transform: translateY(0px); /* End at the original position */
  }
}

